.container {
  padding: 0 215px;
  margin: 0 auto;
  max-width: 1600px;
}

.hero-container {
  background-image: url("../image.jpg");

  background-size: cover;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  text-transform: uppercase;
  color: var(--c-white);
}

.hero-button {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;

  border: 0px;
  border-radius: 4px 4px 4px 4px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--c-blue);
  color: var(--c-white);
  cursor: pointer;
}

.advantages-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-list__icon {
  border-radius: 4px 0px 0px 0px;
  opacity: 0px;

  background-color: #f5f4fa;
}

.advantages-list__svg {
  margin-top: 25px;
  margin-right: 100px;
  margin-bottom: 25px;
  margin-left: 100px;
}

.advantages-list {
  display: flex;
}

.advantages-list__item:not(:first-child) {
  margin-left: 30px;
}

.advantages-list__title {
  margin-top: 30px;
  color: var(--c-primary);
}

.advantages-list__text {
  margin-top: 10px;
  color: var(--c-secondary);
}

.benefits-container {
  padding-bottom: 94px;
}

.benefits-title {
  text-align: center;
  color: var(--c-primary);
}

.benefits-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
}

.benefits-list__item {
  flex-basis: calc((100% - 60px) / 3);
}

.team-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.team {
  background-color: var(--c-section);
}

.team-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.team-title {
  text-align: center;
  color: var(--c-primary);
}

.team-list__item {
  flex-basis: calc((100% - 90px) / 4);

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;

  background-color: var(--c-white);
}

.team-list__title {
  color: var(--c-primary);
}

.team-list__information {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list__text {
  margin-top: 10px;

  color: var(--c-secondary);
}

.team-cocials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.team-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
}

.team-list__icon {
  fill: currentColor;
}

.team-list__link:hover,
.team-list__link:focus {
  color: var(--c-white);
  background-color: var(--c-blue);
}

.client-container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  text-align: center;
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.client-list__item {
  display: flex;
  justify-content: center;
  flex-basis: calc((100% - 150px) / 6);
  padding: 16px 0;
}

.client-list__item {
  border: 1px solid #afb1b8;
}

.cliet-list__link {
  color: #afb1b8;
}

.cliet-list__link:hover,
.cliet-list__link:focus {
  color: var(--c-blue);
}

.client-list__icon {
  fill: currentColor;
}
